body {
    font-family: Arial,sans-serif;
}

header{
    display: block;
}

nav{
    float: right;
    margin: 10px 40px 0 0;
}

nav li{
    display: inline-block;
    padding: 16px 7px;
    font-size: 13px;
}

nav li a:link{
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

#si-btn{
    color: white;
    background-color: #4387fd;
    padding: 8px 12px;
    font-weight: bold;
}

.logo{
    display:block;
    height: 300px;
    margin: 0 auto;
    width: 800px;
}

.logo img{
    padding-top: 200px;
    display: block;
    margin: 0 auto;
}

.search-container{
    display:block;
    margin: 20px auto;
    width: 800px;
}

.search-styled-box{
    width: 582px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    height: 44px;
    margin: 0 auto;
}

.search-styled-box:hover, .search-styled-box:focus, .search-styled-box:active, .search-styled-box:focus-within{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-container .search-styled-box input{
    width: 540px;
    height: 34px;
    background-color: transparent;
    border:none;
    display:block;
    margin: 3px auto 0 auto;
    font-size: 16px;
}

.btn-container{
    display: block;
    margin: 28px auto;
    width: 800px;
    text-align: center;
}

.btn-container .btn{
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.btn-container .btn a:link, .btn-container .btn a:visited{
    color: #5F6368;
    text-decoration: none;
    font-size: 14px;
}

.btn-container .btn:hover{
    color: rgb(34, 34, 34);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.btn{
    display: inline-block;
    background-color: rgb(248, 248, 248);
    padding: 11px 16px;
    margin: 0 4px;
}

.language-container{
    display: block;
    margin: 28px auto;
    width: 800px;
    text-align: center;
}

.language-container p{
    font-size: 13px;
}

.language-container a{ 
    padding: 0 5px;
    color: #1a0dab;
    text-decoration: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    bottom: 0;
    color: #5F6368;
    font-size: 13px;
    width: 100%;
    background: #f2f2f2;
} 

.footer-b, .footer-c{ 
    padding: 12px 12px 12px 27px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.footer-b a, .footer-c a{
    color: #5F6368;  
    text-decoration: none;
    font-size:13px;
    margin-right: 20px;
}

.footer-a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 15px;
    padding: 12px 12px 12px 27px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 1px;
}

.footer-b{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer-c{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
}